#content
  %h1 Hello,

  %p
    My name is Marc G Gauthier and this is my website.
    If you want to know what I am up to right now, please head over to
    = link_to "@marcgg", "http://twitter.com/marcgg", :class => "twitter", :target => "_blank"
    = "."

  %h2 Professionally
  %p
    I am a web developer currently living in Paris.

  %p
    I studied at the
    = link_to "University of Paris XI", "http://www.u-psud.fr/", :class => "upsud", :target => "_blank"
    = "&"
    = link_to "Florida International University", "http://www.fiu.edu/", :class => "fiu", :target => "_blank"
    where I got a Masters Degree in Computer Science.

  %p
    Since January 2010 I am the Lead Developer at
    = link_to "Tigerlily (FR)", "http://tigerlilyapps.com", :class => "tigerlily", :target => "_blank"
    , an awesome startup that helps large brands to improve their presence on Facebook and Twitter.

  %p
    Before that I worked for
    = link_to "Analog Method (NYC)", "http://www.analogmethod.com/home/", :class => "analog", :target => "_blank"
    , an agency with a focus on delivering high quality software and
    = link_to "Live Technology (NY)", "http://www.livetechnology.com/", :class => "live", :target => "_blank"
    which delivers a solution to optimize marketing. I also spent two internships developing at Sagem and Altran.

  %h2 Technically
  %p
    I'm a big Ruby and Ruby on Rails fan. As a mater of fact, my first project with this framework
    was in 2005 and I never stopped using it since then.

  %p
    I also write JavaScript (jQuery, CoffeeScript or even NodeJS) and have a good
    front-end background (xHTML/CSS integration from psd files and so on).

  %p
    = "... and of course I write tests (with rspec) & version my code (with git)."

  %h2 Projects
  %p
    At Tigerlily I'm working every day on cool projects such as the
    = link_to "Wall Manager", "http://tigerlilyapps.com/wallmanager", :class => "tigerlily", :target => "_blank"
    or the
    = link_to "Page Builder", "http://tigerlilyapps.com/page_builder", :class => "tigerlily", :target => "_blank"
    that are used by major brands (Orange, Universal, Sony, YSL...).

  %p
    When I'm home, I spend time on
    = link_to "ffocused", "http://ffocused.com", :class => "ffocused", :target => "_blank"
    , a free service giving users the ability to create their own
    fully customizable photo portfolio based on their Facebook, Flickr or Instagram accounts.
    I also play around with a Twitter bot acting like a social media consultant ^^

  %p
    Over the years I have started a number of projects to test out an idea or try a new technology.
    In 2007 one got me on TV
    = link_to "(aha)", "http://www.dailymotion.com/video/x2tdis_jesaispasmegarer-com-petite-lecon-d_news", :class => "lol", :target => "_blank"
    , and others got me good grades like
    = link_to "TeamShack", "http://teamshack.net", :class => "teamshack", :target => "_blank"
    = "."

  %h2 Open Source
  %p
    I really enjoy the open source world, and, time permitting, I try to contribute as I can.
    Right now I've released the source of a few small projects on my
    = link_to "GitHub", "https://github.com/marcgg/", :class => "github", :target => "_blank"
    (including ffocused), and got a couple of commits in projects such as
    = link_to "Ruby on Rails", "http://rubyonrails.org/", :class => "rails", :target => "_blank"
    and
    = link_to "Koala", "https://github.com/arsduo/koala", :class => "github", :target => "_blank"
    = "."

  %p
    I like helping out when I get the time, this is why I hang out on
    = link_to "Stackoverflow", "http://stackoverflow.com/users/90691/marcgg", :class => "stackoverflow", :target => "_blank"
    where I rack up "reputation" points.

  %h2 Travel & Photography
  %p
    I tend to travel,
    = link_to "couchsurf", "www.couchsurfing.org/people/marcgg", :class => "couchsurfing", :target => "_blank"
    and take pictures. You can see the best ones on
    = link_to "my photo portfolio", "http://ffocused.com/marcgg", :class => "ffocused", :target => "_blank"
    but here's a sample:

  #photos
    .photo
      = image_tag "http://farm5.static.flickr.com/4066/4311656569_fd7920b2e4_z.jpg"
    .photo
      = image_tag "http://farm4.static.flickr.com/3561/3484411005_2db753cc8c_z.jpg"
    .photo
      = image_tag "http://farm6.static.flickr.com/5068/5740894321_cbd3477121_z.jpg"

  %p
    Some of my pictures won contests or got published (including one in New York's Village Voice).
    Others are available for purchase, so feel free to get one
    = link_to "here", "http://bit.ly/triptyquemgg", :target => "_blank", :class => "lol"
    = "."

  %h2 Contact
  %p
    If you want to reach me please use
    = link_to "@marcgg", "http://twitter.com/marcgg", :class => "twitter", :target => "_blank"
    on Twitter,
    = link_to "LinkedIn", "http://www.linkedin.com/in/marcggauthier", :class => "linkedin", :target => "_blank"
    or my email "marcg.gauthier -at- gmail -dot- com".

  %footer
    %p
      A bientôt!
      %br
      Marc -
